.clubPage{
    min-height: calc(100vh - 70px);
    width: 100vw;
    padding-top: 50px;
}

.options{
    margin-left: 20vw;
    width: 60vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    position: relative;
}

/******************** Club CARd ************************/

.clubCardWrapper{
    margin: 50px 10vw;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;

}

.clubcard{
    height: 400px;
    width: 350px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.clubcard hr{
    margin: 8px 0;
}

.clubcard p, .clubcard h4{
    margin: 0;
}

.clubcard > img{
    height: 75%;
}

.bottomDiv{
    height: 25%;
    padding: 10px 7%;
    display: flex;
    flex-direction: column;
}

.clubContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clubContent > p{
    background-color: rgb(8, 8, 179);
    color: white;
    padding: 3px 10px;
    border-radius: 8px;
}

.clubLinks{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.link{
    cursor: pointer;
}
