.facultyPage{
    height: calc(100vh - 70px);
    width: 100vw;
    padding: 10px 10vw;
}

.filtersWrapper{
    margin-top: 20px;
    width: 70%;
    margin-left: 15%;
}

.filters{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filters select{
    background: #eeeeee;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex: 1;
    height: 40px;
    padding: 0 20px;
    border: 1px solid lightgray;
}


.contentWrapper{
    width: 100%;
    height: 85vh;
    padding: 1rem;
    padding-bottom: 4rem;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    overflow-y: auto;
}

@media (max-width: 500px) {
    .filtersWrapper{
        width: 100%;
        margin: 10px 0;
    }
}