.profBox{
  width: 350px;
  height: 500px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #020381;
  cursor: pointer;
}

.profBox img{
  border-radius: 21px;
  width: 100%;
  height: 76%;
}

.profBox > h3{
  margin: 0;
}

.starDiv{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}