.footerContainer{
    max-height: 360px;
    background-color: #020381;
    color: white;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 20rem;
    position: sticky;
    bottom: 0;
    overflow: hidden;
    padding: 20px 40px;
}
.sectionOne{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}
.sectionOne > h3{
    font-size: 200%;
}
.sectionOne > h3 > span{
    font-size: 70%;
    font-family: 'permanent marker',cursive;
    font-weight: normal;
}

.sectionTwo{
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.sectionTwo > div{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-right: 10rem;
}
.sectionTwo > div a{
    font-size: 150%;
    font-family: montserrat;
    font-weight: 500;
}

.sectionThree{
    margin-left: 0.5rem;
    font-family: montserrat;
    margin-bottom: 1rem;
}


.sectionThree > div > p{
    font-weight: 300;
}
.sectionThree > div > p > span{
    font-weight:500;
}

.sectionFour{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* M O B I L E  D I S P L A Y */

@media (max-width: 500px){
    .footerContainer{
        padding-bottom: 30rem;
    }
    .sectionTwo{
        flex-direction: column;
    }
    .sectionTwo > h4{
        align-self: flex-start;
        
    }
    .sectionTwo > div{
        margin-top: 1rem;
        align-self: flex-start;
        flex-direction: column;
        gap: .5rem;
    }
    
}